<h1>Listing instances <%= link_to 'New Instance', new_instance_path, :class => 'btn btn-primary' %></h1>

<p></p>

<table class="table table-striped">
  <tr>
    <th>Course</th>
    <th>Instructor</th>
    <th>Terms</th>
    <th></th>
    <th></th>
  </tr>

<% @instances.each do |instance| %>
  <tr>
    <td><%= link_to instance.course, instance %></td>
    <td><%= instance.instructor %></td>
    <td><% if instance.terms %><i class="icon-ok"></i><% end %></td>
    <td><%= link_to 'Edit', edit_instance_path(instance), :class => 'btn btn-info' %></td>
    <td><%= link_to 'Delete', instance, :class => 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

