<ul class="breadcrumb">
  <li><%= link_to 'Neatline Instances', admin_instances_path %> <span class="divider">/</span></li>
  <li class="active"><%= @instance.course.titleize %></li>
</ul>

<div class="hero-unit">
  <div class="page-header">
    <h1>Course <small><%= @instance.course %></small></h1>
  </div>

  <p>
    <strong>Instructor:</strong>
    <%= @instance.instructor %>
  </p>

  <%= link_to 'Edit', edit_admin_instance_path(@instance), :class => 'btn btn-primary btn-large' %> 
</div>

<div id="apache" class="row">
  <h1>Apache Config</h1>
  <div class="span6">
    <h2>Staging</h2>
    <%= apache_config('staging').html_safe %>
  </div>
  <div class="span6">
    <h2>Production</h2>
    <%= apache_config('production').html_safe %>
  </div>
</div>

<div id="capistrano" class="row">
  <h1>Capistrano</h1>
  <div class="span12">
    <%= capistrano_config.html_safe %>
  </div>
</div>

<div id="omeka_db" class="row">
  <h1>Database config</h1>
  <div class="span6">
    <h2>Staging</h2>
    <%= db_config('staging').html_safe %>
  </div>
  <div class="span6">
    <h2>Production</h2>
    <%= db_config('production').html_safe %>
  </div>
</div>




